nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 20px;
  background-color: rgba(52, 45, 45, 0.328);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#links {
  display: flex;
  margin-left: 20px;
}

#links a {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#links a:hover {
  color: #007bff;
  transform: scale(1.2);
}

#titulo{
  position: relative;
  bottom: 220px;
  left: 14%;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #5a5353;
  box-shadow: 0px 8px 16px 0px rgba(223, 214, 214, 0.2);
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-10px);
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 0.67;
  transform: translateY(0);
}

@keyframes scroll {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.dropdown-menu a {
  animation: scroll 0.5s ease-in-out;
}

#logo {
  height: 90px;
}

#palestranteMood {
  position: relative;
  align-items: space-around;
  top: 30px;
  left: 180px;
  width: 35%;
}

.miniBio {
  position: relative;
  font-size: 1.4rem;
  width: 29%;
  left: 51.4%;
  bottom: 260px;
}

h2 {
  font-size: 29px;
}

.how-prof {
  position: relative;
  width: 30%;
  left: 14%;
  bottom: 239.9px;
}

p{
  font-family: arial, sans-serif;
  
}